body{

  overflow: auto;

  padding-bottom:0;
}

.carousel{
      margin-top: 3rem;
}
.carousel-item{
  height: 34rem;
}
.carousel-item > img{
  height: 34rem;
      width: 100%;
}
.bod_top{
  border: 1px solid lightgreen !important;
width: 100%;
position: absolute;
top:0;
z-index: 2000;
}
.main_attch{
background: url(../img/people-3152585_1920.jpg)no-repeat center;
background-attachment: fixed;
background-size: cover;
    padding: 6rem;
}


.carousel-indicators .active {
  background-color: lightgreen;
}
.carousel-indicators li{
background:white;
}
.navbar-brand{
background: url(../img/main_logo.png)no-repeat;
width:100px;
height:110px;
position: relative;
background-size:70%;
top:30%;
}
.navbar-brand span{
position: absolute;
top:35%;
left:5%;
}
.phone{
  background:url(../img/white-phone-64.png)no-repeat;
width: 64px;
height: 64px;
background-size: 70%;
float: left;
}
.top_call_box{
-webkit-transition: all .4s ease 0s;
  -moz-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  -ms-transition: all .4s ease 0s;
  box-shadow: rgb(15, 82, 43) 7px 7px 25px;
      z-index: 23000;
}

.carousel-caption {
  bottom: 8.5rem !important;
}
hr{
max-width: 960px; margin: 5rem auto !important;
    border-top: 1px solid mediumseagreen;
}
.first-slide {
background:url(../img/ma_22.jpg)no-repeat center bottom;
  height: 34rem;
        width: 100%;
        background-size: cover;

}
.second-slide{
background: url(../img/wind-turbine-1149604_1920.jpg)no-repeat center;
height: 34rem;
      width: 100%;
      background-size: cover;
}
.third-slide{
background: url(../img/lake-2605059_1920.jpg)no-repeat center;
height: 34rem;
      width: 100%;
      background-size: cover;
}
.btn:hover{
background: mediumseagreen;
border-color: inherit;
}
.last_section h1{color: mediumseagreen;}
.btn-secondary {
  color: darkslategrey;
  background-color: #ffffff;
  border-color: #6c757d;
}
.last_section h1 p{color: darkslategrey;}
.rounded-circle {
  border-radius: 0%!important;
}
/* .eco_logo{
background: url(../img/eco_logo.png)no-repeat;
width:100px;
height: 100px;
} */
.fot_hr{
 border:1px solid green;
  max-width: 100%;
        margin:0 auto  !important;
}
.footer-text-left p{
text-align: left !important;
color:white;
font-family: 'Noto Sans KR', sans-serif;
font-size:12px;

font-weight: 500;
}
.menubt{
position: absolute;
height: 24px;
width: 24px;

right: 30px;
cursor: pointer;display:none;
}
.menubt span{
position: absolute;
width: 100%;
height: 2px;
background: mediumseagreen;
}
.menubt span:nth-child(2){
margin-top: 8px;
}
.menubt span:nth-child(3){
margin-top: 16px;
}
div.menuDiv {
      width: 250px;
  height: 800px;
  min-height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 1;
  display: none;
}
.btn_off{
top: 2rem;
  position: absolute;
  right: 2.4rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
div.btn_off span:nth-child(1) {
  transform: rotate(-135deg);
}
div.btn_off span:nth-child(2) {
  transform: rotate(135deg);
}
div.btn_off span {
  position: absolute;
  top: 0.2rem;
  display: block;
  width: 100%;
  height: 2px;
  background-color: mediumseagreen;
}
.xbt{
  position: relative;
height: 70px;
border-bottom: 1px solid #dedede;
}
div.menuDiv > .menuTitle li > .title {
  display: block;
  height: 57px;
  border-bottom: 1px solid #dedede;
  font-size: 20px;
  color: #000;
  line-height: 57px;
  text-indent: 20px;
  font-weight: 500;
}
div.menuDiv > .menuTitle li > .title:hover {
color: mediumseagreen;
}
.linkList{
position: absolute;
margin: 0 auto;
text-align: center;
left: 5%;
top: 43%;
}
.linkList li{color:darkslategrey}
.linkList li a{color:darkslategrey}
.floating_item{
display: none;
}
.card-text span{
display: none;
font-size: 12px;
text-align: center;
}
#img1{
display: none;
width: 90% !important;
margin: 0 auto !important;
}
@media all and (min-width:300px) and (max-width:800px){


.main_attch{
background: url(../img/people-3152585_1920.jpg)no-repeat center;

 background-position: center;
 background-size: cover;
     padding: 6rem;
}

.featurette-divider{
/* display: none !important; */
}

.wrap{
      margin-bottom: 200px !important;
}

.floating_item{
  display: block;
}

.footer-text-left p:nth-child(3){
  display: none;
}
.menubt{
  display: block;
}
.navbar-brand{
  background-size: 60%;
  height: 50px
  ;top:-10%;

}
.navbar-brand span{
top: 70%;

}
.navbar-brand span{
  font-size: 14px;
}
.navbar-brand span:nth-child(2){

      left: 35% !important;
}
header{
  height: 70px;
}
.navbar{
  height: 70px;
}
.attch_text h1{
  font-size: 1.7rem;
}
.attch_text p{
  font-size:14.5px;
}
.carousel-caption h1{
   font-size: 32px !important;
}
.carousel-caption h2{
  font-size:23px;
}
.carousel-caption h3{
  font-size:20px;
}
.carousel-caption p{
  font-size:14px !important;
}
.carousel-caption {
   bottom: 6.5rem !important;
 }
 .carousel-item div:nth-child(1){
   background-position: 60% 60%;
 }
 .col-lg-4   {
   width: 33.33333%;
 }
 .col-lg-4  p{
   display: none;
 }
 .col-lg-4  h1{
   font-size: 20px !important;
 }
 .col-lg-4 h1 > p > small{
    display: none;
 }.last_section{
   margin-top: 10%;
 }
 .col-md-4{
   width: 33.33333%;
 }
 .card-text font{
   display: none;
 }
 .card-text span{
   display: block;
 }
 .text-muted font{
   display: none;
 }
 .btn-outline-secondary{
   right: 18%;
 position: relative;

 }
 .btn-group font{
   font-size: 12.5px;
 }
#img1{
  display: block;
position: relative !important;

}
#img2{
  display: none !important;
}

}